@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  font-family: "Rufina", serif;
}

.container {
	max-width: 1200px;
}

.team_wrapper {
	padding: 80px 0;
}

.team_wrapper .team_head h2 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;
}

.team_wrapper .team_head p {
    font-size: 18px;
}

.team_wrapper .team_item {
	  text-align: center;
	  position: relative;
	  margin-top: 40px;
}

.team_wrapper .team_item:hover figure {
	  transform: scale(0);
}

.team_wrapper .team_item figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.4s all ease-in-out;
}

.team_wrapper .team_item figure img {
		transition: 0.4s all ease-in-out;
		width: 100%;
		height: 100%;
}

.team_wrapper .team_item figure .image {
	  width: 100%;
		height: 100%;
		overflow: hidden;
}

.team_wrapper .team_item:hover figure img {
	  transform: scale(1.10);
}

.team_wrapper .team_item .image_content {
    background: #003cb0;
    color: #ffffff;
    padding: 15px;
}

.team_wrapper .team_item h3 {
    font-size: 22px;
    font-weight: 700;
}

.team_wrapper .team_item p {
    margin: 0;
}

.team_wrapper .team_item .team_content {
    background: #003cb0;
    padding: 25px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team_wrapper .team_item .team_content h3 {

}

.team_wrapper .team_item .team_content span {
    font-size: 14px;
    padding-bottom: 15px;
}

.team_wrapper .team_item .team_content p {
	  padding-bottom: 20px;
}

.team_wrapper .team_item .team_content ul {
	 list-style: none;
}

.team_wrapper .team_item .team_content ul li {
	  display: inline-block;
}

.team_wrapper .team_item .team_content ul li a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    color: #003cb0;
    margin: 0 3px;
    font-size: 15px;
    transition: 0.4s all ease-in-out;
}

.team_wrapper .team_item .team_content ul li a:hover {
	  opacity: 0.7;
	  text-decoration: none;
}